<html>
    <head>
        <style>
        table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        </style>    
    </head>

    <body>
        <h3 style="text-align: center;">SmashBurger Management System </h3>
        <table>
            <tr>
                <th>Name: <%= name %> </th>
                <th>Email: <%= email %></th>
                
            </tr>
            
            <tr>
                <th>Contact Number: <%= contactNumber %> </th>
                <th>Payment Method: <%= paymentMethod %></th>
            </tr>
        </table>

        <h3 style="text-align: center;">Product Details</h3>

        <table>
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>SubTotal</th>

            </tr>
            <% if(productDetails.length > 0) { %>
                <% productDetails.forEach(function(product) { %>
                    <tr>
                        <td><%= product.name %></td>
                        <td><%= product.category %></td>
                        <td><%= product.quantity %></td>
                        <td><%= product.price %></td>
                        <td><%= product.price * product.quantity %></td>
                    </tr>
                <% }) %>
            <% } %>
        </table>

        <h3 style="text-align: center;">Total: <%= totalAmount %></h3>
        <h3> Thank you for visiting! </h3> 
    </body>
    


                    
            
        